





/*Element Selectors*/

body {
  font-size: 1em;
  margin: 0px auto;
  padding: 0;
  font-family: 'Noto Sans', 'Montserrat', Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #6A8347; /*Former color 2C6700*/
  width: auto;
}

li {
  list-style-type: square;
}

h1 {
  color: #2C6700;
}

a {
  color: #2C6700;
  text-decoration: none;
}

.sitenav a,
.comicnav a {
  font-weight: bold;
  display: inline-block;
}

.sitenav a {
  display: none;
}

/*Wrappers*/

.masterwrapper {
  background-color: #FEFCD7;
  margin: 0 auto;
  padding-top: 1%;
}

.headerwrapper {
  clear: both;
  max-width: 100%;
  text-align: center;
  margin: auto;
}

.contentwrapper {
  margin: 5% 0;
  background-color: #E5E4D7;
  border-bottom: #6A8347 solid 5px;
}

.comicwrapper {
    padding: 20px 0 0;
    margin: 0;
    border-top: #6A8347 solid 5px;
}

/*Header*/

.header {
  margin: auto;
}

#logo,
#banner {
  display: block;
  margin: auto;
  padding: 0;
}

#logo {
  max-width: 27%;
}

#banner {
  max-width: 73%;
}

/* Hides image logo so text one can be shown */
#banner {
  display: none;
}

#bannerText {
  font-size: 4.5rem;
  margin: 0;
  font-color: #6A8347;
  text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
}

#topsitenav {
  float: right;
}

#topsitenav a {
    background-color: #2C6700;
    /*border: solid black 2px;*/
    padding: 9px;
    color: #E5E4D7;
}

#topsitenav a:hover {
  background-color: #6A8347;
  /*border: solid black 2px;*/
  padding: 9px;
  color: #E5E4D7;
}

/*Comic*/

.comiccontent img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.comicnav a,
.comicnav span {
  width: 39.5px;
  height: 39.5px;
  background-size: 90%;
  margin: 0 3%;
  padding: 7px;
  display: inline-block;
}

.first {
  background: transparent url("img/firstgreen.png") no-repeat scroll 50% 50%;
}

.prev {
  background: transparent url("img/prevgreen.png") no-repeat scroll 50% 50%;
}

.archive {
  background: transparent url("img/archivegreen.png") no-repeat scroll 50% 50%;
}
.comicnav .archive {
  display: none;
}

.next {
  background: transparent url("img/nextgreen.png") no-repeat scroll 50% 50%;
}

.last {
  background: transparent url("img/lastgreen.png") no-repeat scroll 50% 50%;
}

/*Bottom Content*/

.secondarycontent {
  max-width: 90%;
  margin: 0 1% 0 1%;
  padding: 1%;
}

#comments {
  margin-right: 5%;
  margin-left: 5%;
  text-align: left;
}

#commenttitle {
  line-height: 1rem;
  font-size: 1.25em;
}

#commentdate {
  font-weight: normal;
  font-size: .8em;
  line-height: .5em;
}

#bonus {
  display: none;
}

#webcomiclist a:hover {
    border-bottom: #2C6700 solid 1px;
}

#bottomsitenav a {
  display: inline;
  margin: 0 10px;
}

#bottomsitenav a:hover {
    border-bottom: #2C6700 solid 2px;
}

.copyright {
  padding-bottom: 20px;
  margin-bottom: 0;
}


/*Other pages*/

.maincontent {
  border-top: #6A8347 solid 10px;
  text-align: left;
  padding: 20px 5% 5%;
  margin: auto;
}

.maincontent a:hover {
      border-bottom: #2C6700 solid 1px;
}

/*Lightbox*/
#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    overflow-x:scroll;
    height:100%;
    background:rgba(0,0,0,.7);;
    text-align:center;
}
#lightbox p {
    text-align:right;
    color:#fff;
    margin-right:20px;
    font-size:12px;
}
#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:100%;
}

/*Media Queries*/

@media (min-device-width: 640px) {
  body {
    width: 768px;
  }
  .sitenav a {
    display: inline-block;
  }

  .headerwrapper {
    max-width: 75%;
  }
  .comicwrapper {
    border-top: #6A8347 solid 10px;
    padding: 20px 0 0 0;
    margin: -50px auto 0;
  }
  .contentwrapper {
    border-bottom: #6A8347 solid 10px;
  }
  #bannerText {
    display: none;
  }
  #logo {
    display: inline-block;
    padding-bottom: 15px;
  }
  #banner {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
  }
  .secondarycontent {
  max-width: 40%;
  }
  #comments {
    float: left;
  }
  #bonus {
    display: block;
    margin-left: 0;
    margin-right: 5%;
    float: right;
    text-align: left;
  }
  .comicnav a,
  .comicnav span {
    width: 69px;
    height: 69px;
    margin: 0 2%;
    padding: 0;
  }
  .comicnav .archive {
    display: inline-block;
  }
  #topsitenav {
    margin: -57px 0 0 0;
  }
  #bottomsitenav a {
    margin: 0 20px;
  }
  /*non-comic pages*/
  .maincontent {
    margin: -50px auto 0;
  }
}
.comiccontent img {
  max-width: 80%;
  margin: 0 auto;
}
@media (min-device-width: 1000px) {
  body {
    width: 1150px;
  }
  .header {
    margin-bottom: -24px;
  }
  #topsitenav {
    margin: -27px 0 0 0;
    padding: 0 20px;
  }
  .comicnav a,
  .comicnav span {
    width: 79px;
    height: 79px;
    margin: 0 2%;
    padding: 0;
  }
  #logo {
    padding-bottom: 5px;
  }
  .secondarycontent {
  max-width: 40%;
  }
  #commenttitle {
    line-height: 1rem;
    font-size: 1.75em;
  }

}
